.container {
    display: grid;
    font-size: 40px;
    width: 100%;
    background-color: LightGray;
}


.d1 { background-color: lightcoral; }
.d2 { background-color: lightblue; }
.d3 { background-color: lightgreen; }
.d4 { background-color: lightpink; }
.d5 { background-color: lightyellow; }