.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap : 10px 20px;
    font-size: 40px;
    width: 100%;
    background-color: LightGray;
}


.d1 { background-color: lightcoral; }
.d2 { background-color: lightblue; }
.d3 { background-color: lightgreen; }
.d4 { background-color: lightpink; }
.d5 { background-color: lightyellow;
grid-column: 2/4; }